@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
    background-color: rgb(38, 36, 48);
}

h1 {
    color: aliceblue;
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    width: 300px;
    margin: auto;
    position: relative;
    background: rgba(169, 160, 204, 0.212);
    margin: 100px auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 10px 10px rgba(169, 160, 204, 0.062)
}
